<%- include ../include/header %>

 
  <p> <b>Thank you for placing order with us. Payment details are as follows</b></p>
  <br>
  <br>
  
  <p>Item                : Numa Sprint</p>
  <p>Order ID            : <%= order_id %></p>
  <p>Payment Status      : <%= status %></p>
  <p>Payment ID          : <%= payment_id %></p>
  <p>Amount Debited      : <%= amount_debit %></p>
  <p>Bank Reference No   : <%= bank_ref_num %></p>
  

<%- include ../include/footer %>
